﻿@using System.Globalization
@using H3ArT.Models.ViewModels
@model OrderVM
<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 col-md-6">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-6 text-end">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-4">
                            <h4 class="text-primary">Order Details:</h4>
                            <div class="mb-3">
                                <label class="col-form-label">Name:</label>
                                <div>
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.Name" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Name" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Phone:</label>
                                <div>
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
                                    }
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Email:</label>
                                <div>
                                    <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Order Date:</label>
                                <div>
                                    <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <div class="mb-3">
                                    <label class="col-form-label">Session ID:</label>
                                    <div>
                                        <input asp-for="OrderHeader.SessionId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="col-form-label">Payment Intent ID:</label>
                                    <div>
                                        <input asp-for="OrderHeader.PaymentIntentId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="mb-3">
                                <label class="col-form-label">Payment Date:</label>
                                <div>
                                    <input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Payment Status:</label>
                                <div>
                                    <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <button type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control">Update Order Details</button>
                            }
                        </div>
                        <div class="col-12 col-md-6">
                            <h4 class="text-primary">Order Summary</h4>
                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>
                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h6 class="my-0 text-primary">@detail.Artwork.Title</h6>
                                                    <small class="text-muted">Price : @detail.Artwork.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</small><br />
                                                    <small class="text-muted">Quantity : 1</small>
                                                </div>
                                                <div class="col-4 text-end">
                                                    <p class="text-success">1 * @detail.Artwork.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <h5 class="text-white">TOTAL </h5>
                                            </div>
                                            <div class="col-6 text-end">
                                                <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</h5>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                                {
                                    <button type="submit" asp-action="StartProcessing" class="btn btn-primary form-control mb-2">Start Processing</button>
                                }
                                @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                                {
                                    <button asp-action="DoneOrder" type="submit" class="btn btn-primary form-control mb-2">Done Order</button>
                                }
                            }
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Customer) || User.IsInRole(SD.Role_Creator)){
                            @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded && Model.OrderHeader.OrderStatus != SD.StatusCancelled && Model.OrderHeader.OrderStatus != SD.StatusDone)
                                {
                                    <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control mb-2">Cancel Order</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>