@using H3ArT.Models.Models
@model Blog

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Post - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        /* Style for the back button */
        .go-back {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            /**
                   * If you set it to a value higher than the 'font-size',
                   * you will have to take account of the difference
                   * between the 'line-height' and the 'font-size'
                   * to vertically centre the arrow
                   * and align it with the text.
                   **/
            line-height: 1;
            /* Makes some place for the arrow */
            padding-left: 20vh;
            /* The arrow will be absolutely positioned */
            position: relative;
        }

        #footer {
            display: none;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <!-- Page content-->
    <div class="container mt-5">
        <a href="#" class="go-back" onclick="goBack()"> <i class="bi bi-skip-backward-circle"></i> Go Back</a>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">@Model.Title</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on @Model.CreatedAt</div>
                        <div class="text-muted fst-italic mb-2">
                            <a asp-action="ArtistProfile" asp-route-artistId="@Model.CreatorId" style="text-decoration: none; color: #6c757d !important;">Creator: @Model.ApplicationUser.FullName</a>
                        </div>
                        <!-- Post categories-->
                       
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="@Model.ImageUrl" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5 pb-2">
                        <div class="position-relative">
                            <p class="fs-5 mb-4">@Html.Raw(@Model.Description)</p>
                            <!-- Button trigger modal -->
                            <div class="position-absolute end-0 pe-2">
                                <a data-bs-toggle="modal" data-bs-target="#centeredModal" style="text-decoration: none; color: red">
                                    <i class="bi bi-flag-fill"></i> Report
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="centeredModal" tabindex="-1" aria-labelledby="centeredModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="centeredModalLabel">Report</h3>
                                            <button type="button" class="btn-close" style="margin-block:auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form id="centeredRadioForm" meathod="post" asp-action="ReportBlog">
                                            <div class="modal-body" style="margin: 0 10px 0 10px">
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="spam" name="reportReason" value="Spam">
                                                    <label class="form-check-label" for="spam">Spam</label>
                                                    <div class="text-muted">Misleading or repetitive posts</div>
                                                </div>

                                                <!-- Nudity or Pornography Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="nudity" name="reportReason" value="Nudity, pornography or sexualized content">
                                                    <label class="form-check-label" for="nudity">Nudity, pornography or sexualized content</label>
                                                    <div class="text-muted">Sexually explicit content involving adults or nudity, non-nudity or intentional misuse involving minors</div>
                                                </div>

                                                <!-- Self-harm Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="selfHarm" name="reportReason" value="Self-harm">
                                                    <label class="form-check-label" for="selfHarm">Self-harm</label>
                                                    <div class="text-muted">Eating disorders, cutting, suicide, drugs</div>
                                                </div>

                                                <!-- Misinformation Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="misinformation" name="reportReason" value="Misinformation">
                                                    <label class="form-check-label" for="misinformation">Misinformation</label>
                                                    <div class="text-muted">Health, climate, voting misinformation or conspiracies</div>
                                                </div>

                                                <!-- Hateful Activities Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="hatefulActivities" name="reportReason" value="Hateful activities">
                                                    <label class="form-check-label" for="hatefulActivities">Hateful activities</label>
                                                    <div class="text-muted">Prejudice, stereotypes, white supremacy, slurs</div>
                                                </div>

                                                <!-- Dangerous Goods Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="dangerousGoods" name="reportReason" value="Dangerous goods">
                                                    <label class="form-check-label" for="dangerousGoods">Dangerous goods</label>
                                                    <div class="text-muted">Drugs, weapons, regulated products</div>
                                                </div>

                                                <!-- Harassment or Criticism Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="harassmentCriticism" name="reportReason" value="Harassment or privacy violations">
                                                    <label class="form-check-label" for="harassmentCriticism">Harassment or privacy violations</label>
                                                    <div class="text-muted">Blackmail, personal attacks or bullying</div>
                                                </div>

                                                <!-- Graphic Violence Option -->
                                                <div class="mb-3 form-check">
                                                    <input type="radio" class="form-check-input" id="graphicViolence" name="reportReason" value="Graphic violence">
                                                    <label class="form-check-label" for="graphicViolence">Graphic violence</label>
                                                    <div class="text-muted">Promotion of violence</div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button asp-action="ReportBlog" asp-route-blogID="@Model.BlogId" type="submit" class="btn btn-primary" form="centeredRadioForm">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <div id="comments" class="mt-4">
                                <div id="disqus_thread">
                                </div>
                                <script type="text/javascript">
                                    var disqus_shortname = 'Artworksharingplatform-1';
                                    var disqus_developer = 0;
                                    (function () {
                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                        dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                    })();
                                </script>
                                <noscript>
                                    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                                </noscript>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
           
        </div>
    </div>
    <!-- Footer-->
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
</body>
</html>
