@using System.Globalization
@using H3ArT.Models.Models
@model IEnumerable<Blog>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Art.Design Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="~/css/blog.css" rel="stylesheet" />
    <style>
        /* Style for the back button */
        .go-back {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            /**

                   * If you set it to a value higher than the 'font-size',
                   * you will have to take account of the difference
                   * between the 'line-height' and the 'font-size'
                   * to vertically centre the arrow
                   * and align it with the text.
                   **/

            line-height: 1;
            /* Makes some place for the arrow */
            padding-left: 30vh;
            /* The arrow will be absolutely positioned */
            position: relative;
        }


        footer {
            position: absolute;
            bottom: 0;
            width: 100%;

        }
    </style>
</head>
<body>
<section class="blog" id="blog">
    <a href="#" class="go-back" onclick="goBack()"> <i class="bi bi-skip-backward-circle"></i> Go Back</a>
    <div class="container">
        <div class="blog-content">

            @foreach (var blog in Model)
            {
                <div class="blog-item">
                    <div class="blog-img" style="width: 382px; height: 200px;">
                        <img src="@blog.ImageUrl" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="blog-text">
                        <span>@blog.CreatedAt</span> <!-- date -->
                        <h2>@blog.Title</h2> <!-- title -->
                        <p>@Html.Raw(@blog.Description.Substring(0, 100))...</p>
                        <a asp-action="Blog_Details" asp-route-blogID="@blog.BlogId">More</a>
                    </div>
                </div>
            }
            <!-- end of item -->

        </div>
    </div>
</section>

    <footer class="bg-dark">
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </div>
        <span>Art.Design Blog Page</span>
    </footer>
    <!-- end of footer -->

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>