@using H3ArT.Models.Models
@model List<OrderDetail>

<div style="display:flex; justify-content: center; align-content:center">
    <div class="container row pt-4 ">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order Placed Successfully!</h1>
            </br>
            <div class="text-start">
                <p>Name: @Model[0].OrderHeader.Name</p>
                <p>Date: @Model[0].OrderHeader.PaymentDate</p>
                <p>Status Order: @Model[0].OrderHeader.OrderStatus</p>
                <p>Your Order Number is : @Model[0].OrderHeaderId </p>
            </div>
            </br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Artwork Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <!-- Thêm các cột khác tùy theo yêu cầu -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="height:10vh">
                            <td><p style="margin: auto">@item.Id</p></td>
                            <td><p style="margin: auto">@item.Artwork.Title</p></td>
                            <td style="height:10vh"><div><img style="margin: auto" src="@item.Artwork.ImageUrl" width="100vh" /></div> </td>
                            <td><p style="margin: auto">@item.Count</p></td>
                            <td><p style="margin: auto">@item.Price$</p></td>
                            <!-- Thêm các cột khác tùy theo yêu cầu -->
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Order Total:</th>
                        <th>@Model[0].OrderHeader.OrderTotal$</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
